<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="#" href="/">
                    MSU HOME PAGE
                </a>
            </li>
            <li class="main-header__item">
                    <a class="#" href="/guides">
                        Guides
                    </a>
                </li>
            <li class="main-header__item">
                    <a class="#" href="/about">
                        About
                    </a>
                </li>
        </ul>
    </nav>
</header>