
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ede6d6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 100;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #660000;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
  
}

.main-header__item a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.title {
  font-size: large;
  margin-left: 100px;
  margin-bottom: -30px;
  border-bottom: 1px solid black;
  width: 72%;
}

.form {
  float: right;
}

.input {
  border-radius: 10px;
  width: 200px;
  padding: 7px;
} 

.btn {
  background-color: #660000;
  border-radius: 10px;
  padding: 5px; 
  color: white;
}

.grid {
  display: block;
  margin: 2% 5%;
  border-radius: 10%;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 80%;
  background-color: white;
  border-radius: 15px;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #660006;
  background-color: #660000;
  color: white;
  border-radius: 5px;
  width: 70px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #660000;
  color: white;
}


#homepage {
  a:not(.btn) {
    color: @brand;
    border-bottom: 1px solid @text-normal;
    &:hover {
      text-decoration: none;
      color: @text-normal;
    }
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 25px;
    color: @brand;
    position: relative;
    .hero-image {
      width: 220px;
      height: 170px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      img {
        position: absolute;
      }
      .sky {
        width: 170px;
        left: 25px;
        top: 25px;
      }
      .cloud {
        .fly-fade();
        width: 80px;
        &.cloud-1 {
          top: 55px;
          left: -40px;
          opacity: 0;
          .animation-delay(3.5s);
        }
        &.cloud-2 {
          top: 45px;
          left: -40px;
          opacity: 0;
        }
      }
      .ship {
        .skid();
        width: 160px;
        bottom: 50px;
        left: 18px;
      }
      .water {
        width: 170px;
        bottom: 40px;
        left: 25px;
      }
    }
    h1 {
      padding-bottom: 50px;
    }
    .more-info-text {
      .bob();
      cursor: pointer;
      margin-top: 75px;
      position: absolute;
      width: 100%;
      bottom: 25px;
      left: 0px;
      .text {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
      }
      .icon {
        font-size: 20px;
      }
    }
  }

  .about-wrapper {
    background-color: #eef5f9b8;
    .about {
      padding-top: 75px;
      padding-bottom: 50px;
      p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .features {
      padding-top: 25px;
      padding-bottom: 100px;
      .feature {
        .icon {
          background-color: @brand;
          color: @accent-white;
          width: 75px;
          height: 75px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 25px;
          border-radius: 50%;
          font-size: 35px;
          line-height: 75px;
          text-align: center;
        }
      }
    }
  }


  .setup {
    padding-top: 75px;
    .step {
      margin-top: 75px;
      margin-bottom: 75px;
      padding-left: 240px;
      position: relative;
      .step-image {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 140px;
        img {
          width: 100%;
        }
      }
    }
  }

  .pep-talk {
    padding-top: 50px;
    padding-bottom: 100px;
    p {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    a {
      border-bottom: none;
    }
  }

  &.uninitialized {
    height: 100%;
    .hero, .about, .features, .setup, .pep-talk {
      opacity: 0;
    }
  }

  @media (max-width: 991px) {
    .setup {
      .step {
        padding-left: 0px;
        .step-image {
          display: none;
        }
      }
    }
  }
}